<div class="footer">
  <h3>U<span>Sell</span><br>Up</h3>
  <ul>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Help</a>
    </li>
    <li>
      <a href="#">Press</a>
    </li>
    <li>
      <a href="#">Jobs</a>
    </li>
    <li>
      <a href="#">Terms</a>
    </li>
    <li>
      <a href="#">Language</a>
    </li>
    <li>
      <a href="#">Locations</a>
    </li>
    <li>
      <a href="#">Top Accounts</a>
    </li>
    <li>
      <a href="#">Hashtags</a>
    </li>
  </ul>
  <p>&copy; 2020 U SELL UP</p>
</div>
