<div class="navigations">
  <div class="container">
    <ul>
      <li class="nav-item cat-icon">
        <a class="nav-link all-cat" href="#"><i class="fa-brands fa-buffer"></i></a>
      </li>
      <li class="dropdown">
        <button class="" type="button" (click)="showCat()">
          ALL CATEGORIES
          <i class="fa-solid fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
      <li>TITLE 1</li>
      <li>TITLE 2</li>
      <li>TITLE 3</li>
      <li>TITLE 4</li>


    </ul>
    <span class="clock">
      <div class="img-cont">
        <img src="./assets/img/24.png" alt="24 houres">
      </div>
    </span>
  </div>
</div>
